<footer>
    <div class="container">
        <div class="row footer-text ms-5">
            <div class="col-12 col-md-2 text-danger">
                <p>
                    <a href="https://github.com/PaulESanchezC"><span class="fa-brands fa-github text-dark"></span></a> Paul Sanchez Co.
                </p>
            </div>

            <div class="col-12 col-md-2 text-danger">
                <p>
                    | <span class="fa-brands fa-canadian-maple-leaf"></span> |
                </p>
            </div>

        </div>
    </div>
</footer>