@page "/"

<div class="container mt-5">
    <div class="row rounded rounded-3">
        <div class="col-12 mt-5">
            <h3 class="text-color-3B758C text-center">
                Projects
            </h3>
        </div>

        <div class="col-10 offset-1 border border-3 rounded-3">
            <svg width="300" height="500" >

            </svg>
        </div>
    </div>
</div>